---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import PostLayout from '@/layouts/PostLayout.astro';
import { Image } from 'astro:assets';
import Prose from "@/components/Prose.astro";

export async function getStaticPaths() {
  const allPosts: CollectionEntry<'posts'>[] = await getCollection('posts');
  return allPosts.map(post => ({
    params: { slug: post.id }, props: { post },
  }));
}

const { post } = Astro.props;
const {title, description, category, createdAt, updatedAt, imageUrl, imageAlt} = post.data;

const { Content } = await render(post);
---

<PostLayout title={`I use ${title} - Danny Bao`}>
  <div>
    <Image src={imageUrl} alt={imageAlt} width={640} height={400} class="border border-slate-300 dark:border-zinc-700 rounded-xl mb-4"></Image>
    <h1 class="font-lora text-xl">{title}</h1>
    <h2 class="font-lora text-lg">{description}</h2>
    <hr class="dark:border-zinc-700 my-4"></hr>
  </div>
  
  <Prose>
    <Content />
  </Prose>
</PostLayout>